#collage-div {
    float: left;
    text-align: center;
    width : 100%;
    height : 30.0vh;
    margin-top: 8.0vh;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    padding-top : 10.0vh;
    padding-bottom: 5.0vh;
}

#collage-photo {
    height: 25.0vh;
    width: 30.0vw;
}

#collage-left {
    float: left;
    margin-left: 20%;
}

#collage-right {
    float: right;
    margin-right: 15%;
}

#how-about-collage {
    font-weight: bold;
    font-size: 30px;
}

.collage-explanation {
    text-align: left;
}

#open-collage-btn {
    height : 10.0vh;
    width : 100%;
    font-size: 40px;
}