.meme-modal-outer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.meme-modal-div {
  display: block;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  box-sizing: border-box;

  position: absolute;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  vertical-align: middle;

  background: #F2F2F2;
  border: 2px solid #000000;
}

.meme-modal-close-btn {
  border : 1px solid black;
  height : 30px;
  width: 30px;
  right: 0px;
  position: absolute;
}

#meme-detail-img-div {
  position: absolute;
  background : rgba(255, 0, 0, 0.2);
  width: 50%;
  height: 70%;
  text-align: center;
  top : 10%;
  left : 7%;
  float: left;
}

#meme-detail-photo {
  width: 50%;
  height: 100%;
}

#meme-detail-btn-div {
  float : right;
  position : absolute;
  top : 30px;
  right: 0px;
  height : 90%;
  width : 40%;
  text-align: center;
}

#meme-detail-like-btn-div {
  background: #D9D9D9;
  height : 225px;
  width : 225px;
  border-radius: 112.5px;
  text-align: center;
  
  margin-top: 15.0vh;

  display: inline-block;
}

#meme-detail-heart-div {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 120px;

  position: relative;
  top: 30px;
  left: 0px;
  
  color: #000000;
}

#meme-detail-download-btn-div {
  margin-top: 8.0vh;
  text-align: center;
}

#meme-detail-download-btn {
  box-sizing: border-box;

  display: inline-block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.0vh 12px;
  gap: 8px;
  font-size: 3.0vw;
  background: #FFFFFF;
  border: 2px solid #000000;
  font-family: 'Inter';
  font-style: normal;
  width: 80%;
  height: 6.0vh;
  text-decoration-line: none;
  color: black;
}

#meme-detail-info-div {
  width: 80%;
  margin-left: 10%;
}

.meme-detail-info {
  width: 100%;
  color: #858585;
}

.first-info {
  text-align: left;
}

.second-info {
  text-align: center;
}

.third-info {
  text-align: right;
}

.meme-detail-info-inner-div {
  float: left;
  width: 33%;
}

/* marquee 는 css로 구현 */
#meme-detail-marquee-div {
  position: absolute;
  bottom : 5.0vh;
  background: #D9D9D9;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  box-sizing: border-box;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#meme-detail-marquee-div p {
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  color: #858585;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 15s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

#meme-image-drag-div {
  background: rgba(255, 0, 0, 0.2);
  height : 75%;
  width : 50%;
  margin-top: 10.0vh;
  text-align: center;
  float: left;
  margin-left: 10%;
}

#meme-image-drag-icon {
  font-size: 10.0vh;
  margin-top : 40%;
}

#meme-image-drag-div p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 29px;
  text-align: center;
}

#meme-input-tag-upload-div {
  float: left;
  height: 100%;
  width: 30%;
  margin-left: 5%;
}

#meme-input-tag-upload-div textarea {
  height: 30%;
  width: 100%;
  margin-top: 10.0vh;

  box-sizing: border-box;

  border: 1px solid rgba(0, 0, 0, 0.2);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: black;
  background-color: #F2F2F2;
}

#meme-upload-btn {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 8px;

  background: #FFFFFF;
  border: 2px solid #000000;
  width: 100%;
  font-size: 30px;
  margin-top: 29vh;
}

#meme-image-drag-div img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}